.nav-container {
  display: flex;
  justify-content: space-between;
  flex:end;

  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.nav-container a:hover {
  color: #ff6b6b;
}

.random {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.random:hover {
  background-color: #ff4f4f;
}

.right {
  margin-left: auto;
}